<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.edu.ntu.ee.arbor.apeic"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.Sample">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="tw.edu.ntu.ee.apeic.MainActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow"
            android:description="@string/app_description">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="tw.edu.ntu.ee.apeic.log.LogService"></service>
        <service android:name="tw.edu.ntu.ee.apeic.log.AddLogService"></service>
        <service android:name="tw.edu.ntu.ee.apeic.log.UploadCheckReceiver$LogUploadIntentService"></service>
        <service android:name="tw.edu.ntu.ee.apeic.widget.UpdateWidgetService"></service>
        <service
            android:name="tw.edu.ntu.ee.apeic.widget.UpdateWidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name="tw.edu.ntu.ee.apeic.log.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- Registered for HTC devices-->
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver android:name="tw.edu.ntu.ee.apeic.log.LocationUpdateReceiver">
            <intent-filter>
                <action android:name="android.location.LocationManager.KEY_LOCATION_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name="tw.edu.ntu.ee.apeic.log.UploadCheckReceiver">
            <intent-filter>
                <action android:name="tw.edu.ntu.ee.arbor.apeic.action.LOGS_UPLOAD_CHECK" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="tw.edu.ntu.ee.apeic.widget.AleicWidgetProvider"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="tw.edu.ntu.ee.arbor.apeic.action.ITEM_CLICKED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider" />
        </receiver>
    </application>

</manifest>